//Jumbotron styling


@mixin jumbotronCSS {
    margin-top: 50px;
    background-color: #616161;
    color: white;
}




// ------------------------------------------------------------------------
//Baggrundsbilleder

@mixin bg-pic-1 {
    background: url(images/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin bg-pic-2 {
    background: url(images/among-us-bg0.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin bg-pic-3 {
    background: url(images/profil-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
